<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HttpPanoVideoStreamingServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <HttpPanoVideoStreamingServer.Properties.Settings>
            <setting name="Pano_Crop_Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Pano_Crop_Top" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="Pano_Crop_Width" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pano_Crop_Height" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="Table_Crop_Left" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="Table_Crop_Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Table_Crop_Width" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="Table_Crop_Height" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Pano_Port" serializeAs="String">
                <value>4030</value>
            </setting>
            <setting name="TableVideo_Port" serializeAs="String">
                <value>4031</value>
            </setting>
        </HttpPanoVideoStreamingServer.Properties.Settings>
    </applicationSettings>
</configuration>